.main__container__description { 
    background-color:rgb(5, 5, 34);
    background-size: cover;
    height: 1500px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.desc_item {
    background-color: darkgreen;
}