.login__container {
    background: url(../Images/ep4bg.jpg) no-repeat;
    background-size: cover;
}
.content__container {
    margin: 20px 0;
    height: auto;
    width: 100%;
}
.logo > a:visited {
    color: lavender; 
}
.back {
    background-color: transparent;
}
.search {
    font-size: 20px;
    letter-spacing: 2px;
}
.log__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
}
.log__form__container {
    width: 50%;
    height: auto;
    padding: 50px 5px;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    box-shadow: aliceblue 0px 0px 23px 1px;
}
.login_input { 
    width: 100%;
    height: 50px;
    color: #9971a7;
    font-size: 15px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
}
.login_form {
	padding:25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_form > input::-moz-placeholder, textarea::-moz-placeholder {
    color: aliceblue;
}
.login_form > input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: aliceblue;
}
.login_form > input:focus::-webkit-input-placeholder { color:transparent; }
.login_form > input:focus:-moz-placeholder { color:transparent; }
.login_form > input:focus::-moz-placeholder { color:transparent; }
.login_form > input:focus:-ms-input-placeholder { color:transparent; }

.login_form h1 {
    width: 100%;
    height: 34px;
    color: #9971a7;
    font-family: Raleway;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 10px 90px;
    white-space: normal;
}


.login_button {
    width: 80%;
    height: 59px;
    border-radius: 10px;
    background-color: #9971a7;
    color: #fffcf4;
    font-size: 30px;
    font-weight: 600;
    line-height: 35.01px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.login_button:hover {
    box-shadow: violet 0px 0px 17px 8px;
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}

.input__line__under {
    width: 80%;
    height: 1px;
    background-color: aliceblue;
}
.under__log__form {
    margin-top: 30px;
    text-decoration: none;
    color: #9971a7;
}
.reg__link:hover {
    cursor: pointer;
    color: floralwhite;
}

@media only all and (max-width: 700px) {
    .log__form__container {
        width: 99%;
    }
    .login_form h1 {
    font-size: 25px;
    }
    .login_button {
        font-size: 25px;
    }
}
.error_message {
    font-style: italic;
    font-size: smaller;
    color: darkred;
}
/* -------------------Media-------------------- */
@media only all and (max-width: 820px) {
    .login__container {
        min-height: 1180px;
    }
    .logo {
        width: 100%;
        font-size: 6vw;
        justify-content: space-between;
        margin: 0;
        padding: 5px 15px;
    }
    .social_item {
        margin-left: 56px;
    }
    .contacts, .rights {
        font-size: 3vw;
    }
    .log__form {
        margin: 50px 0;
    }
    .log__form__container {
        width: 90%;
        font-size: 25px;
    }
    .login_input {
        font-size: 25px;
    }
    
}